# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/
coverage.xml

# Logs
logs/
*.log

# Reports
reports/
.coverage.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Environment Variables
.env

# Build
build/
dist/
*.egg-info/

# Type checking
.mypy_cache/
.pyright/
.ruff_cache/

pyrestkit/_version.py