# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
logs/
*.log

# Reports
reports/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Environment Variables
.env

# Build
build/
dist/
*.egg-info/

# Type checking
.mypy_cache/
.pyright/
.ruff_cache/